div{box-sizing: border-box;
    margin: 20px;}

 	th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 3px solid #E9967A;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
 }

 h3{
background: #E9967A;
color: white;
 }

 h1{
 	background-color: #E9967A;
 	color: white;
 }

 body {
  background-color: #F8EFFB;
  background-image: url(".jpg");
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  border-bottom: 1px solid #61210B;
  padding: 0px;
  height: 80px;
  box-shadow: 20px 20px 30px 10px #888888;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color:#E9967A;
}

.header a:hover {
  background-color: #E9967A;
  color: white;
  border-radius: 25px;
}

.header a.active {
  background-color: #E9967A;
  color: white;
  border-radius: 25px;
}
.header-right {
  float: right;
  margin-top:-2px;
}
 
